:root {
  --primary-color: #acc6aa;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--primary-color);
}

h1 {
  color: #5c715e;
  font-size: 66px;
  line-height: 0.5;
  text-align: center;
}

.croissant-image {
  margin: 30px auto;
  display: block;
  max-width: 40%;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

.main-description {
  margin-top: 25px;
  text-align: center;
  padding: 10px;
  font-size: 28px;
  line-height: 1.5;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
}

.contact-info {
  margin: 25px 45px;
  padding: 10px;
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
  background-color: var(--secondary-color);
}

.links {
  text-align: center;
}

.links a {
  margin: 0 15px;
  font-size: 28px;
  color: #5c715e;
}
